<nav>
  <ul class="container list-group p-0">
    <li><a class="list-group-item" routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a></li>
    <li><a class="list-group-item" routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
    <li><a class="list-group-item" routerLink="formulario-principal" routerLinkActive="active" ariaCurrentWhenActive="page">Formulario Principal</a></li>
    <!-- <li><a class="list-group-item" routerLink="cursos" routerLinkActive="active" ariaCurrentWhenActive="page">Cursos</a></li>
    <li><a class="list-group-item" routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    <li><a class="list-group-item" routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li> -->
    <li><a class="list-group-item" routerLink="botones" routerLinkActive="active" ariaCurrentWhenActive="page">Not found</a></li>
  </ul>
</nav>