<div class="row">
  <div class="col-12">
    <!-- <app-docs-callout href="forms/validation" name="Validation"></app-docs-callout> -->
  </div>
  <div class="col-12">
    <div class="card">
      <h5 class="card-header"><i class="fas fa-file-alt me-2"></i>Formulario de Usuario</h5>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <form #personaForm="ngForm" (ngSubmit)="CreateUser()">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 mb-2">
              <div class="form-group">
                <label for="nombre" class="form-label">Nombre</label>
    
                <input type="text" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="persona.name"
                class="form-control" placeholder="Ingrese su nombre"
                [ngClass]="{ 'is-invalid': nombre.invalid && (nombre.dirty || nombre.touched), 'is-valid': nombre.dirty && nombre.valid }" 
                (focus)="focus01 = true"
                (blur)="focus01 = false"
                required>
    
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="invalid-feedback">
                  <div *ngIf="nombre.errors?.['required']">Campo requerido</div>
                </div>
                <div *ngIf="nombre.valid" class="valid-feedback">Campo válido</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 mb-2">
              <div class="form-group">
                <label for="edad" class="form-label">Edad</label>
    
                <input type="number" id="edad" name="edad" #edad="ngModel" [(ngModel)]="persona.age"
                class="form-control" placeholder="Ingrese su edad"
                [ngClass]="{ 'is-invalid': edad.invalid && (edad.dirty || edad.touched), 'is-valid': edad.dirty && edad.valid }" 
                (focus)="focus02 = true"
                (blur)="focus02 = false"
                required>
    
                <div *ngIf="edad.invalid && (edad.dirty || edad.touched)" class="invalid-feedback">
                  <div *ngIf="edad.errors?.['required']">Campo requerido</div>
                </div>
                <div *ngIf="edad.valid" class="valid-feedback">Campo válido</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 mb-2">
              <div class="form-group">
                <label for="correo" class="form-label">Correo Electrónico</label>
                
                <input type="email" id="correo" name="correo" #correo="ngModel" [(ngModel)]="persona.mail"
                [ngClass]="{ 'is-invalid': correo.invalid && (correo.dirty || correo.touched), 'is-valid': correo.dirty && correo.valid }" 
                (focus)="focus03 = true"
                (blur)="focus03 = false"
                class="form-control" placeholder="Ingrese su correo"
                required>
    
                <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="invalid-feedback">
                  <div *ngIf="correo.errors?.['required']">Campo requerido</div>
                  <div *ngIf="correo.errors?.['email']">Campo debe ser correcto</div>
                </div>
                <div *ngIf="correo.valid" class="valid-feedback">Campo válido</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center mb-2">
              <button type="submit" id="guardarInformacion" name="guardarInformacion" [disabled]="personaForm.invalid" class="btn btn-primary btn-icon my-2">
                <i class="fas fa-save me-2"></i>Guardar Información
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>